exercise I/subtask II/Company.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="company">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="employees">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="employee" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element name="token">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="kell" />
                          <xs:enumeration value="mino" />
                          <xs:enumeration value="desa" />
                          <xs:enumeration value="stuj" />
                          <xs:enumeration value="rubn" />
                          <xs:enumeration value="brck" />
                          <xs:enumeration value="kyka" />
                          <xs:enumeration value="coli" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element type="xs:string" name="email"/>
                  </xs:sequence>
                  <xs:attribute type="xs:anyURI" name="profilepicture"/>
                  <xs:attribute type="xs:string" name="id"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="projects">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="project" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="members">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="member" maxOccurs="unbounded" minOccurs="1">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="idref"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="name"/>
                  <xs:attribute name="plannedhours">
                    <xs:simpleType>
                      <!-- We don't have any projects longer than
                           200 hours - we are not crazy :-) --> 
                      <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="200"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    <!-- Set the employee[@id] as ID -->
    <xs:key name="ID">
      <xs:selector xpath="./employees/employee" />
      <xs:field xpath="@id" />
    </xs:key>
    <!-- Set the member[@idref] as IDREF -->
    <xs:keyref name="IDREF" refer="ID">
      <xs:selector xpath="./projects/project/members/member" />
      <xs:field xpath="@idref" />
    </xs:keyref>
  </xs:element>
</xs:schema>