exercise I/subtask II/Company.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="employees">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="employee" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element name="token">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="kell" />
										<xs:enumeration value="mino" />
										<xs:enumeration value="desa" />
										<xs:enumeration value="stuj" />
										<xs:enumeration value="rubn" />
										<xs:enumeration value="brck" />
										<xs:enumeration value="kyka" />
										<xs:enumeration value="coli" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:anyURI" name="website"/>
            </xs:sequence>
            <xs:attribute type="xs:anyURI" name="profilepicture"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>